df/pipeline/sql_to_blob.json
{
	"name": "sql_to_blob",
	"properties": {
		"activities": [
			{
				"name": "sql_to_blob",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "change_mapping",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings",
							"filePattern": "setOfObjects"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "csv",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "json",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "sql_to_blob_csv",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ProductModelID",
									"type": "Int32"
								},
								"sink": {
									"name": "ProductModelID",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Name",
									"type": "String"
								},
								"sink": {
									"name": "Name",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "CatalogDescription",
									"type": "String"
								},
								"sink": {
									"name": "CatalogDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "rowguid",
									"type": "Guid"
								},
								"sink": {
									"name": "rowguid",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ModifiedDate",
									"type": "DateTime"
								},
								"sink": {
									"name": "ModifiedDate",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "product_model_table",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "csv",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "change_mapping",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "sql_to_blob_csv",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Name",
									"type": "String"
								},
								"sink": {
									"name": "name"
								}
							},
							{
								"source": {
									"name": "rowguid",
									"type": "String"
								},
								"sink": {
									"name": "row_guid"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "csv",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "csv",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "add_pipeline_run_id",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "sql_to_blob",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "json",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "json",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "check_if_exist",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "add_pipeline_run_id",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "json",
						"type": "DatasetReference"
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "JsonReadSettings"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "check_if_exist",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('check_if_exist').output.exist",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Delete1",
							"type": "Delete",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "json",
									"type": "DatasetReference"
								},
								"logStorageSettings": {
									"linkedServiceName": {
										"referenceName": "data_lake_gen_2",
										"type": "LinkedServiceReference"
									}
								},
								"enableLogging": true,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						}
					]
				}
			}
		],
		"annotations": [
			"demo"
		]
	}
}